.header{
   
    display: flex;
    align-items: cneter;
    background-color: white;
    margin: 0%;
   
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navegacion{
    
    justify-content: center;
}


.menu-principal{
    
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 30px;
}

.logo-claaran{
    width: 100px;
    
}



.link-menu{
    font-family: ProximaNova;
    font-size: 15px;
    text-decoration:  none;
    color: #42A5FF;
  
    
}
