.header {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0%;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }


  .menu-principal {
    justify-content: stretch;
    display: flex;
    list-style: none;
    gap: 5rem;
    padding-right: 5rem;
  }

.logo-claaran{
    width: 200px;
    
}



.link-menu{
    font-family: ProximaNova;
    font-size: 1.2rem;
    text-decoration:  none;
    color: #42A5FF;
  
    
}
